body{
  background-color: blanchedalmond;
  width: 100%;
}


.saffron1{
  height: 40vh;
 
  margin-top: 30%;
 


  padding-bottom: 20%;
}
.saffron1 img{
  height: 45vh;
 justify-content: center;
 border: 2px solid red;
 box-shadow: 4px 8px 15px black;
}

.button1{

  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: deeppink;
  color: azure;
  margin-left: 35%;
}

.saffron2{
  background-color: rgb(60, 163, 115);
  margin-top: 5%;
}
.saffron2 img{
  height: 43vh;
  margin-top: 8%;
  margin-left: 7px;
justify-content: center;
}
.saffron2 ul li{
list-style: square;
font-size: medium;
margin-top: 4%;
color: aliceblue;
font-weight: 500;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.saffron4{
  height: 60vh;
  margin-left: 3%;
  border: 2px dotted palevioletred;
}
.saffron3{
margin-top:9% ;
 height: 300px;

 border-radius: 25px;
 border: 2px solid rgb(192, 15, 74);
}
.bbq{
  width: 100%;
  background-color: rgb(60, 163, 115) ;
}
.bbq h2{
  text-align: center;
  color: rgb(225, 231, 236);
  background-color: black;
  margin: 5%;
  border-radius: 16px;
}
.bbq ul li{
  color: aliceblue;
  font-size: large;
}
.bbq ul{
  background-color: black;
  margin: 3%;
  border-radius: 12px;
}
.rivew img{
display: flex;
max-width: 90%;
margin: 7px;
border: 3px solid black;
}
.rivew{
  margin: 3px;
  display: flex;
  overflow-x: auto;
  border: 3px solid red;
  box-shadow: 4px 8px 16px black;
}
.pricet{
  background-color: rgb(235, 75, 75);
  margin: 16px;
  text-align: center;
  border-radius: 15px;
  border: 4px solid white;
}
.pricet .tk2100{
  text-decoration: line-through;
}
.pricet .lastt{
  color: aliceblue;
}
.data{
  background-color: rgb(60, 163, 115) ;


}
.data h3{
  margin-top: 10%;
  background-color: rgb(233, 47, 47);
  text-align: center;
  margin: 10%;
  border-radius: 18px;
}
.userform{
  display: flex;
  flex-direction: column;
  margin-top: 4%;
 width: 70%;
 margin-left: 10%;
 border-radius: 5%;
 background-color: aliceblue;
 padding: 5%;
}
.userform input{
  margin-top:5% ;
  padding: 9px;
  border-radius: 14px;
}
.userform .button1{

 
  margin-inline-start: 80px;
  margin-inline-end: 80px;
margin-top: 9%;
padding: 4%;
border-radius: 20px;
background-color: rgb(236, 71, 71);
color: aliceblue;
box-shadow: 4px 7px 16px black;
}
.incb{
  display: flex;
  justify-content: center;
  width: 200px;
  background-color: rgb(88, 66, 66);
  border: 2px dotted purple;
  border-radius: 16px;
  
}
.incb h3{
  width: 50px;
  text-align: center;
  justify-content: center;
  background: white;
  margin-top: 19px;
}
.incb button{
  height: 30px;
  width: 50px;
  padding: 5px;
  margin-top: 20px;
}
